<div class="card">

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          Add an album!
        </h1>
      </div>
    </div>
  </section>

  <form action="/albums/create" method="POST">
  
    <label>Title</label>
    <input type="text" name='name'>

    <label>Artist</label>
    <input type="text" name='artist'>
    
    <label>Rating</label>
    <input type="number" min="1" max="5" name='rating'>

    <button type="submit">Add</button>
  </form>

</div>