<div class="card">
  <div class="card-content">
    <div class="content">
      <p>
        Welcome to the site where you can log your favorite albums! Or your least favorite. That's what the ratings are for! (not implemented yet.. hold your horses)
      </p>
    </div>
  </div>
</div>