<div class="card">
   <div class="card-content">
     <div class="content has-text-centered">
       <h1><%= album.name %></h1>
       <p><%= album.artist %></p>
       <p><%= album.rating %> / 5</p>
     </div>
   </div>
</div>